
:root {
	/* font */
	--sans: "Average Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: Iowan Old Style, Times New Roman, Times, serif;
	--serif-hed: "Vollkorn SC", var(--serif);
	--mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	--border-radius: 2px;
	/* --color-bg: #E7E4E4; */
	/* --color-primary: #931F31; */
	/* --color-fg: #4a1019; */
	--color-bg: #4E5358;
	--color-fg: #F0F0F0;
	--color-primary: #F0F0F0;
	--color-accent: #CFD9E2;
	
	/* "1" second duration */
	--1s: 1ms;

	/* swiper */
	 --swiper-navigation-color: #fff;
	--swiper-pagination-color: #fff;

}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
	width: 100%;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* 11. Russell */

.skip-to-main {
	border: none;
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
}

.skip-to-main:focus {
	background-color: black;
	color: white;
	width: auto;
	height: auto;
	padding: 8px;
	z-index: 1000;
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; 
	width: 1px;
}

body {
	font-family: var(--sans);
	font-weight: 400;
	background: var(--color-bg);
	color: var(--color-fg);
}

p {
	font-size: 24px;
	line-height: 1.4;
	margin: 1rem auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--serif-hed);
	font-weight: 400;
	color: var(--color-primary);
}

h1 {
	font-size: 48px;
	line-height: 1;
}

h2 {
	font-size: 36px;
	text-align: center;
	line-height: 1;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 22px;
}

h6 {
	font-size: 20px;
}

a {
	color: var(--color-primary);
}


nav {
	margin: 1rem auto;
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin: 0 1rem;
}

header {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	padding: 1rem;
}

header .logo {
	max-width: 420px;
	margin: 0 auto;
}

header .logo svg path {
	stroke: var(--color-primary);
}

header h1 {
	font-size: clamp(2.5rem, 4vw, 3.5rem);
	line-height: 1;
	margin: 1rem auto;
}

header p {
	font-size: clamp(1.75rem, 2.25vw, 2.25rem);
	line-height: 1;
	margin: 1rem auto;
	color: var(--color-primary);
}

section {
	max-width: 1024px;
	margin: 0 auto;
	padding: 1rem;
}

section > p, section > h2, section > blockquote {
	max-width: 640px;
	margin: 1rem auto;
}

.gallery {
	margin: 4em auto;
}

.quotes {
	display: flex;
	flex-wrap: wrap;
}

blockquote {
	width: calc(33% - 1em);
	margin: 0.5rem;
	padding: 1em;
	background: var(--color-accent);
	color: var(--color-bg);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-top: 8px solid var(--color-primary);
}

blockquote p {
	font-size: 1.2em;
	line-height: 1.25;
	margin: 0;
}

blockquote span {
	align-self: flex-end;
}

#contact p {
	text-align: center;
}

p.big {
	font-size: 28px;
}

@media (max-width: 800px) {
	blockquote {
		width: calc(50% - 1em);
	}
}

@media (max-width: 600px) {
	blockquote {
		width: 100%;
	}
}